/* Google font import rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');

/* font-family: 'Rubik', sans-serif; */

/* Start for small screens */
html {
    background-color: lightgreen;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("../images/bar-chart-horizontal-line.png");
    background-repeat: repeat;
}

header {
    background-color: #444444;
}

nav, main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    background: #444444;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid white;
    text-align: center;
}

nav ul .last_nav_item {
    border-bottom: 0;
}

nav ul li a {
    text-decoration: none;
    color: White;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #ff946d;
}

section {
    background-color: white;    
    border: 2px solid #444444;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
}

section ul {
    padding-left: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    border-bottom: 2px solid #444444;
}

img {
    width: 100%;
    border-radius: 8px;
}

body {
    font-family: 'Rubik', sans-serif;
}

small {
    color: #757575;
}

.contact ul {
    padding: 0;
    margin: 0;
}

.contact ul li {
    list-style-type: none;
}

.contact ul li a {
    text-decoration: none;
    color: black;
}

.contact ul li a:hover, .projects ul li a:hover {
    color: #da3b00;
    text-decoration: underline;
}

footer {
    padding: 1rem;
    background-color: #242424;
    text-align: center;
}

footer small {
    color: white;
}

button {
    position: fixed;
    bottom: 1rem;
    font-weight: bold;
    right: 1rem;
    z-index: 2;
    border-radius: 50%;
    border: 0;
    background-color: #da3b00;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
}

button:active, button:hover {
    outline: none;
}

.projects ul li a {
    color: #da3b00;
    font-weight: bold;
    text-decoration: none;
}

/* Start for medium and large screens */
@media screen and (min-width: 700px) {
    html {
        background-color: cornflowerblue;
    }

    nav ul {
        padding: 0.5rem;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
    }

    nav ul li {
        border-bottom: 0;
        padding: 0 0.5rem;
        border-right: 1px solid white;
    }

    nav ul .last_nav_item {
        border-right: 0;
    }

    h1 {
        margin-top: 0;
    }

    img {       
        max-width: 15rem;
    }

    .about {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .about, .about h2 {
        grid-column: 1/3;
    }
    
    .about_content {
        padding-left: 1rem;
        max-width: 30rem;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}

/* Start for wide screens */
@media screen and (min-width: 1025px) {
    .about {
        grid-template-columns: 1fr;
        grid-column: 1;
        grid-row: span 3;
        display: initial;
        max-width: 15rem;
    }

    .about h2 {
        grid-column: auto;
    }

    main {
        grid-template-columns: auto 1fr 1fr;
        max-width: 1440px;
    }

    .about_content {
        padding-left: 0;
        max-width: 18rem;
    }
}