/* Google font import rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');

/* font-family: 'Rubik', sans-serif; */

* {
    box-sizing: border-box;
}

/* Start for small screens */
html {
    background-color: lightgreen;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("../images/bar-chart-horizontal-line1.png");
    background-repeat: repeat;
}

.scroll-to-top {
    cursor: pointer;
}

.scroll-to-top:hover {
    background-color: white;
    color: #da3b00;
    border: 1px solid #da3b00;
}

header {
    background-color: #444444;
}

nav, main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header nav ul {
    background: #444444;
    padding: 0;
    margin: 0;
}

ul li, p {
    line-height: 1.5;
}

header nav ul li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid white;
    text-align: center;
}

header nav ul .last_nav_item {
    border-bottom: 0;
}

header nav ul li a {
    text-decoration: none;
    color: White;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    color: #ff946d;
}

section {
    background-color: white;    
    border: 2px solid #444444;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3);
    transition: all 0.5s;
    transition-delay: 0.25s;
}

section ul {
    padding-left: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    border-bottom: 2px solid #444444;
}

img {
    width: 100%;
    border-radius: 8px;
}

body {
    font-family: 'Rubik', sans-serif;
}

small {
    color: #757575;
}

#about {
    display: flex;
    align-items: center;
}

.profile_icon {
    width: 28px!important;
}

.contact ul {
    padding: 0;
    margin: 0;
}

.contact ul li {
    list-style-type: none;
}

.contact ul li a {
    text-decoration: none;
    color: black;
}

.contact ul li a:hover, .projects ul li a:hover, .projects_container section a:hover {
    color: #da3b00;
    text-decoration: underline;
}

footer {
    padding: 1rem;
    background-color: #242424;
    text-align: center;
}

footer small {
    color: white;
}

.projects ul li a, .projects_container section a {
    color: #da3b00;
    font-weight: bold;
    text-decoration: none;
}

.projects_wrapper {
    max-width: 1440px;
    margin: auto;
}

.projects_wrapper section h2 {
    width: 100%;
}

.projects_wrapper section .about_project {
    width: 100%;
    max-width: 900px;
}

.projects_wrapper section a img:hover {
    box-shadow: 0 0 8px #da3b00;
}

.prototype_images {
    display: flex;
    max-width: 900px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.wrapper_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.prototype_images a {
    max-width: 414px;
}
    
.projects_container section a img {
    max-width: 900px;
}

h3 {
    width: 100%;
    max-width: 900px;
}

/* Highlighting a card on menu click */
.highlight {
    box-shadow: 0px 0px 8px 10px tomato;
}

.iFrame_wrapper {
    width: 100%;
    max-width: 900px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.inktober_img {
    max-width: 576px!important;
}

.space_invader_img {
    max-width: 360px!important;
}

/* Start for medium and large screens */
@media screen and (min-width: 768px) {
    html {
        background-color: cornflowerblue;
    }

    header nav ul {
        padding: 0.5rem;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    header nav ul li {
        border-bottom: 0;
        padding: 0 0.5rem;
        border-right: 1px solid white;
    }

    header nav ul .last_nav_item {
        border-right: 0;
    }

    h1 {
        margin-top: 0;
    }

    img {       
        max-width: 15rem;
    }

    .about {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .about, .about h2 {
        grid-column: 1/3;
    }
    
    .about_content {
        padding-left: 1rem;
        max-width: 30rem;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}

/* Start for wide screens */
@media screen and (min-width: 1025px) {
    .about {
        grid-template-columns: 1fr;
        grid-column: 1;
        grid-row: span 3;
        display: initial;
        max-width: 15rem;
    }

    .about h2 {
        grid-column: auto;
    }

    main {
        grid-template-columns: auto 1fr 1fr;
        max-width: 1440px;
    }

    .about_content {
        padding-left: 0;
        max-width: 18rem;
    }

    .projects_container section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects_container section p {
        margin: 0;
    }

}

/* CSS Transitions Styling */

.transitions_wrapper {
    width: 900px;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

.transitions_wrapper article {
    border: 1px solid lightgray;
    flex: 1 0 30%;
    text-align: center;
}

.transitions_wrapper ul {
    padding: 0 1rem;
    width: 100%;
}

.transitions_wrapper li {
    list-style-type: none;
    flex: 1 0 20%;
    background-color: black;
}

.transitions_wrapper i {
    font-size: 2rem;
}

.transitions_wrapper span {
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-size: 14px;
}

.transitions_wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.transitions_wrapper a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem;
    transition: all 0.5s;
}

.transitions_wrapper article:last-of-type {
    padding: 1rem;
}

.transitions_wrapper article:last-of-type h3 {
    margin: 0;
}


/* 1. Background color */
.transition01 ul li a:hover {
    background-color: hotpink;
}


/* 2. Color */
.transition02 ul li a:hover {
    color: hotpink;
}


/* 3. Single item color */
.transition03 ul li a:hover i {
    color: hotpink;
}


/* 4. Box shadow */
.transition04 ul li a:hover {
    box-shadow: 0 0 8px 0px purple;
}


/* 5. Border Bottom */
.transition05 ul li a, .transition06 ul li a {
    border-bottom: 4px solid white;
}

.transition05 ul li a:hover {
    border-bottom-color: orange;
}


/* 6. Border bottom V2 */
.transition06 ul li:nth-of-type(1) a:hover {
    border-bottom-color: hotpink;
}

.transition06 ul li:nth-of-type(2) a:hover {
    border-bottom-color: palegreen;
}

.transition06 ul li:nth-of-type(3) a:hover {
    border-bottom-color: orangered;
}

.transition06 ul li:nth-of-type(4) a:hover {
    border-bottom-color: skyblue;
}


/* 7. Background color, color */

.transition07 ul li a:hover {
    background-color: hotpink;
    color: black;
}


/* 8. Background color, color , delay */
.transition08 ul li a:hover {
    background-color: yellow;
    color: black;
}

.transition08 ul li a i, .transition08 ul li a small {
    transition-delay: 0.25s;
    transition: all 0.25s;
}


/* 9. Width */
.transition09 ul {
    flex-direction: column;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.transition09 ul li {
    width: 100%;
}

.transition09 ul li a {
    align-items: start;
}

.transition09 ul li {
    overflow: hidden;
}

.transition09 ul li a {
    background-color: orange;
    width: 4rem;
    transition-property: width;
    transition: all 0.5s;
}
.transition09 ul li a:hover {
    width: 100%;
}


/* 10. Rotation */
.transition10 ul li a i {
    transition-duration: 0.5s;
}
.transition10 ul li a:hover i {
    transform: rotate(360deg);
}


/* 11. Rotation: X-Axis */
.transition11 ul li a i {
    transition-duration: 0.5s;
}
.transition11 ul li a:hover i {
    transform: rotateY(360deg);
}


/* 12. Rotation: Y-Axis */
.transition12 ul li a i {
    transition-duration: 0.5s;
}
.transition12 ul li a:hover i {
    transform: rotateX(360deg);
}


/* 13. Text input */
.transitions_wrapper .searchbar {
    margin-top: 1rem;
}

.transitions_wrapper .searchbar i {
    font-size: 1rem;
}

.transitions_wrapper .searchbar input {
    transition-property: width;
    transition: all 0.5s;
    width: 10rem;
    margin-left: 0.5rem;
}

.transitions_wrapper .searchbar input:focus {
    width: calc(100% - 2rem);
}

/* overriding icons color in CSS Transitions section */
.projects_container section .transitions_wrapper a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
}

.projects_wrapper section .transitions_wrapper a img:hover {
    box-shadow: initial;
}

/* Scroll to Top Animation */

.rn-progress-parent {
    border-radius:50px;
    bottom:30px;
    box-shadow:inset 0 0 0 2px #f8e3c3;
    cursor:pointer;
    display:block;
    height:46px;
    opacity:0;
    position:fixed;
    right:30px;
    -webkit-transform:translateY(15px);
    transform:translateY(15px);
    transition:all .2s linear;
    visibility:hidden;
    width:46px;
    z-index:10000
}

.rn-progress-parent.rn-backto-top-active {
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0);
    visibility:visible
}

.rn-progress-parent:after {
    content:"\21E7";
    cursor:pointer;
    display:block;
    font-size:24px;
    height:46px;
    left:0;
    line-height:46px;
    position:absolute;
    text-align:center;
    top:0;
    transition:all .2s linear;
    width:46px;
    z-index:2
}

.rn-progress-parent:after, .rn-progress-parent:hover:after {
    color:#da3b00;
}

.rn-progress-parent:before {
    -webkit-text-fill-color:transparent;
    background:#0d0d12;
    background-clip:text;
    -webkit-background-clip:text;
    content:"\21E7";
    cursor:pointer;
    display:block;
    font-size:24px;
    height:46px;
    left:0;
    line-height:46px;
    opacity:0;
    position:absolute;
    text-align:center;
    top:0;
    transition:all .2s linear;
    width:46px;
    z-index:2;
}

.rn-progress-parent svg path {
    fill:none;
}
    
.rn-progress-parent svg.rn-back-circle path {
    stroke:#da3b00;
    stroke-width:4;
    box-sizing:border-box;
    transition:all .2s linear;
}

/* Abstract Background Generate */
.animate_abstract_background {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 400px;
    background-color: #202020;
    margin: 16px;
}

.container {
    position: absolute;
    width: 100%;
    max-width: 834px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container .block {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #444;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}
  
.container.circle .block {
    border-radius: 50%;
}

.container.squircle .block {
    border-radius: 4px;
}

.container .block:nth-child(3n+1) {
    background-color: #006ba6;
}
  
.container .block:nth-child(3n+2) {
    background-color: #a4b0f5;
}
  
.container .block:nth-child(3n+3) {
    background-color: #ffbc42;
}
  
.container button {
    position: relative;
    z-index: 1;
    margin: 10px;
    border: none;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  